*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background: url("/image/bg image/bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.left
{
    display: inline-block;
    position: absolute;
    top: 16px;
}
.left img
{
    height: 70px;
    width: 70px;
    border-radius: 40px;
}
.left h1
{
    color: white;
    font-size: 17px;
    text-align: center;
    margin: 0px;
}
.middle
{
    display: block;
    width: 55%;
    margin: 35px auto;
}
.middle .navbar ul li
{
    display: inline-block;
    list-style: none;
}
.middle .navbar ul li a
{
    text-decoration: none;
    color: #e8e5e5;
    font-size: 20px;
    padding: 3px 20px;
    font-family: 'Play', sans-serif;
}
.right
{
    
    position: absolute;
    right: 2px;
    top: 16px;
}
.btn
{
    margin: 15px 3px;
    padding: 6px 14px;
    border-radius: 12px;
    font-size: 15px;
    font-family: 'Play';
    background-color: #161616;
    color: white;
    border: none;
}

.container
{
    border: 2px solid white;
    padding: 20px 60px;
    width: 50%;
    margin: 100px auto;
    border-radius: 30px;
}
.container h1
{
    color: white;
    text-align: center;
    font-size: 35px;
}
.container .form-part input
{
    border: 2px solid black;
    padding: 3px;
    display: block;
    margin: 4px auto;
    width: 90%;
    font-size: 20px;
    border-radius: 25px;
}
.container .btn
{
    display: block;
    padding: 5px;
    width: 90%;
    margin: 5px auto;
    font-size: 20px;
    font-family: 'Play';
    cursor: pointer;
}

.footer-part
{
    color: white;
    text-align: center;
    height: 50px;
    border: 2px solid red;
}








