body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.expenses-container, .income-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    height: 80vh;
    overflow-y: auto;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .delete-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

li .delete-btn:hover {
    background-color: #c0392b;
}
.help_container{
    background: url("1.jpg") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.help_container {
    position: absolute;
    top: 17%; /* Position the container 20% from the top */
    left: 51%; /* Position the container horizontally at 50% */
    transform: translateX(-50%); /* Centers the container perfectly */
    
}

#typewriter {
    font-size: 24px; /* Adjust the font size as needed */
    font-family: "Gloria Hallelujah", cursive;  /* Gives it a typewriter feel */
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    transform: rotate(-20deg);
    display: inline-block;
}

