* 
{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.left
{
    display: inline-block;
    position: absolute;
    top: 10px;
}
.left img
{
    height: 60px;
    width: 60px;
    border-radius: 40px;
}
.left h1
{
    font-size: 15px;
    text-align: center;
    color:black;
    margin: 10px;
}
.middle
{
    display: block;
    width: 50%;
    margin: 55px auto;
}
.middle .navbar ul li
{
    display: inline-block;
    list-style: none; 
}
.middle .navbar ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 25px; 
}
.right
{
    position: absolute;
    top: 15px; 
    right: 55px; 
}
.btn
{
    margin: 15px 6px;
    padding: 6px 14px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.container
{
    padding: 20px 60px;
    width: 50%;
    margin: 100px auto;
    border-radius: 15px;
}
.container h1
{
    color: white;
    text-align: center;
    font-size: 35px;
}
.container .form-part input
{
    margin: 4px auto;
    border: 2px solid black;
    padding: 3px;
    display: block;
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
}
.container .btn
{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    font-size: 20px; 
    cursor: pointer;
}
.footer-part
{
    position: absolute;
    bottom: 0;
    color: black;
    text-align: center;
    height: 50px;
    border: 2px solid black;
    width: 100%; 
}
